@import './modules/fonts.scss';
@import './modules/color.scss';

.sub-heading{
    @include text-24;
}

.why{
    @include text-40;
    text-align: center;
    margin-top: 16px;
}
.container{
 justify-content: center;
 text-align: center;
 @include text-16-normal;
}

