@import url('https://rsms.me/inter/inter.css');
$base-font-family:'Inter';
$base-font-size:'72px';
$base-font-weight:'900';
$heading-font-weight:'800';
$heading-font-size:'56px';
$subheading-font-size:'40px';
$subheading-font-weight:'800';
$title-font-size:'24px';
$title-font-weight:'600';
$subtitle-font-size:'16px';
$subtitle-font-light:'normal';
$subtitle-font-weight:'500';


  
@font-face {
    font-family: "Inter";
    src: url("https://rsms.me/inter/inter.css");
    font-style: normal;
    font-weight: 900;
}